html
  head
  meta(charset='UTF-8')
  title Lrn-gulp
  include pug/styles
  body
    h1 my name is ahmed! i introduce myself
    h2 i have a large dreams, and hoppies i cannot live without it.
    h3 i dream to invent a thing that very useful for people.

    h5 what the awesome project i will do!




    script(src="http://localhost:35729/livereload.js")